*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.ab{
    background-color: rgba(204, 201, 201, 0.489);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(65, 62, 62, 0.888);
    padding: 15px 40px;
}

.logo{
    color: white;
}

.menu a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.hero{
    text-align: center;
    padding: 50px;
}

.hero button{
    background-color: rgb(82, 82, 234);
    padding: 8px 15px;
    border: 1px solid blue;
    color: white;
    margin-top: 15px;
}

.course{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding-top: 60px;
}

.cr{
    width: 300px;
    height: 40px;
    border: 1px solid whitesmoke;
    background-color: #E6E5E5;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 50px;
}

.about{
    background-color: white;
    text-align: center;
    padding-top: 100px;
}

.footer{
    background-color: white;
    padding-top: 10px;
}

.footer p{
    border: 1px solid rgba(65, 62, 62, 0.888);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    background-color: rgba(65, 62, 62, 0.888);
    color: white;
    margin-top: 30px;
}

/* @media(max-width:600px){
    .course{
        display: block;
        width: 100%;
    }

    .navbar{
        display: block;
    }

    .menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero h2 p{
        display: grid;
    }

    .navbar h1{
        text-align: center;
    }

    .cr{
        width: 100%;
    }
} */

 @media(max-width:600px){
    .navbar{
        flex-direction: column;
    }

    .menu{
        margin-top: 10px;
    }

    .course{
        flex-direction: column;
        padding: 30px 20px;
    }

    .hero{
        padding: 50px 15px;
    }
}





